body{
    font-family: 'Montserrat Alternates',sans-serif;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: local('Montserrat Alternates'), url(../assets/MontserratAlternates-Bold.ttf) format('truetype');
  }